body {
	background-color: #232323;
	margin: 0;
	font-family: "Avenir", "Montserrat";
}

.square{
    width: 30%;
    background: purple;
    padding-bottom: 30%; 
    float: left;
    margin: 1.66%;
    border-radius: 30%;
    transition: background 0.4s;
    /* for other browser if transition property doesnot work use
    -webkit transition: background 0.4s;    for safari
    -moz transition: background 0.4s;    for mozilla firefox
    */
       
}

h1 {
	color: white;
	text-align: center;
	background-color: steelblue;
	margin: 0;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 150%;
	line-height: 1.3;
	padding: 20px 0;

}

#message{
  width: 20%;	
  display: inline-block;
  color: #d54d7b;
  font-weight: 700;
  font-family: "Great Vibes";
}

.container {
	max-width: 400px;
	margin: 0 auto;
	padding-top: 3%;
}

#strip{
	background-color: white;
	height: 5%;
	text-align: center; 
	color: black;
}
#colorDisplay{
	font-size: 190%;
}

.selected{
	background-color: steelblue;
	color: white;
}
button{
	background: none;
	text-transform: uppercase;
    border: transparent;	
    height: 100%;
    font-weight: 700;
    color: steelblue;
    letter-spacing: 1px;
    font-size: inherit;
    transition: 0.6s;

}

button:hover{
	color: white;
	background-color: steelblue; 


}
footer{
font-family: URW Chancery L, cursive;
color: #669999;	
font-size: 23px;
position: absolute;
bottom: 10px;
text-align: center;
left: 0px;
right: 0px;

l
/*position: fixed;*/
}



footer:hover{
	color: #ffffff;
}